.Collapse {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Collapse__container {
  width: 30%;
  padding: 16px;
  border: 1px #e8e8e8 solid;
  border-radius: 3px;
}

.Collapse__content {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease;
}

.Collapse-link__text {
  border-bottom: 1px dashed rgba(11, 31, 53, .3);
}

.Collapse__link {
  color: #000;
  text-decoration: none;
}

.Collapse-link__icon {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
}

.icon_close {
  background-image: url(https://alfa-laboratory.github.io/arui-feather/styleguide/icon_arrow-up_s_black.9bc156171667a69a5c279bad4288ca20.svg);
}

.icon_open {
  background-image: url(https://alfa-laboratory.github.io/arui-feather/styleguide/icon_arrow-down_s_black.7d5a1ad9c0d16b83a3146deb9c326a19.svg);
}